.form_group {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

input, textarea {
    height: 20px;
    width: 250px;
    border-radius: 3px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
}

textarea {
    height:100px;
}